/*
	
Titulo: Prueba PGR
Hecho por: Daniel Benjamin Rigaud
Fecha: 12 de Oct. 2018

Notas:
Disculpen que quizas no esta hecha lo mejor posible y hay un poco de desorden pero hice lo mejor que pude para lograr programar lo que se diseño en el tiempo que me dieron, se que con un poco más de tiempo se puede limpiar y organizar más el código.

También disculpen cualquier mala práctica con Bootstrap, regularmente no lo utilizo frecuentemente, pero de ser necesario lo puedo aprender a usar al 100%.

Gracias

*/

.my-padding{
	padding: 20px;
}
a.active{
	border-bottom: solid 2px #2E4999;
}
body{
	background-color: #FAFBFB;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}

/****************************************************** effects */
*{
	transition: 300ms ease all;
}
.scale:hover{
	-ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari */
    transform: scale(1.03);
}

/****************************************************** header */
/* nav-1 */
.nav-1{
	background-color: #fff;
}
.nav-1 .nav-link{
	color: #2E4999 !important;
}
.navbar-nav{
	display: flex;
	align-items: center;
}
.navbar-logo img{
	width: 250px;
}
/* nav 2 */
.nav-2{
	background-color: #2A3765;
}
.nav-2 .info{
	margin-left: 20px;
	padding-right: 20px;
	border-right: solid 2px #2E4999;
}
.nav-2 .info .name{
	font-size: 21px;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
	color: #fff;
}
.nav-2 ul li a{
	font-size: 14px;
}
.nav-2 .info .position{
	font-size: 14px;
	color: #4896BE;
	padding: 0;
	line-height: 10px;
	margin: 0;
}
.logout-2{
	display: none;
}
.nav-2 button{
	background-color: #2E4999;
	font-size: 14px;
}

/****************************************************** contenedor */
.section-head{
	display: flex;
	justify-content: space-between;
}
.section-head .date{
	margin-top: 20px;
	font-size: 14px;
	color: #4896BE;
}
.section-head .title{
	font-size: 36px;
	color: #2E4999;
}
.section-head{
	margin-bottom: 10px;
}

/* news */
.big-news{
	background: url('https://pgr.gob.do/wp-content/uploads/2018/10/humanizacion-carceles-pgr-full-1024x683.jpg')center top no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 0px 251px 77px rgba(0,0,0,0.69);
	-moz-box-shadow: inset 0px 0px 251px 77px rgba(0,0,0,0.69);
	box-shadow: inset 0px 0px 251px 77px rgba(0,0,0,0.69);
}
.big-news .info{
	color: #fff;
	margin-bottom: 35px;
	border: none;
	align-self: flex-end;
}
.big-news .title{
	font-size: 38px;
	padding: 0;
	margin: 0;
	font-weight: 200;
	letter-spacing: 3px;
	margin-top: 20px;
}
.big-news .text{
	font-size: 18px;
	font-weight: 200;
}
.big-news .date{
	font-size: 14px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	margin-top: -6px;
	border-bottom: solid 3px #2E4999;
	padding-bottom: 10px;
}
.big-news .btn{
	font-size: 14px;
	background-color: #2E4999;
	border: none;
	padding: 5px 20px;
}
.mini-new .title{
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.mini-new .date{
	font-size: 11px;
	color: #8898D1;
	padding: 0;
}
.mini-new .text{
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.mini-new{
	padding:30px 20px;
	border-radius: 0 !important;
	border: none;
	background-color: #2A3765;
	color: #fff;
	display: block;
}
a.mini-new:hover{
	color: #fff;
	text-decoration: none;
}
.list-group-item{
	padding: 0;
	border: none;
}
.active-mini-new{
	background-color: #2E4999;
}
.mini-new .head{
	justify-content: space-between;
	margin-bottom: 5px;
}
.small-news{
	margin: 0;
	padding: 0;
}

/* bday */
.bday .section-head{
	display: flex;
	justify-content: left;
}
.bday .section-head .date{
	margin-left: 10px;
}
.bday-card{
	background-color: #fff;
	width: 18%;
	text-align: center;
	-webkit-box-shadow: 2px 2px 14px -5px rgba(0,0,0,0.23);
	-moz-box-shadow: 2px 2px 14px -5px rgba(0,0,0,0.23);
	box-shadow: 2px 2px 14px -5px rgba(0,0,0,0.23);
	padding: 40px 20px;
	display: block;
}
.bday-card p{
	margin: 0;
	padding: 0;
}
.bday-card img{
	width: 125px;
	margin-bottom: 10px;
}
.bday-card .name{
	font-size: 18px;
	color: #2A3765;
}
.bday-card .dept{
	font-size: 13px;
	color: #4896BE;
	margin-bottom: 10px;
}
.bday-card .btn{
	background-color: #2E4999;
	border: none;
	font-size: 13px;
}
.bday-feed ul{
	justify-content: space-between;
}

/* tools */
.tools{
	background-color: #EBECF0;;
	padding-top: 40px;
	padding-bottom: 60px;
}
.tools-card{
	width: 32%;
	background-color: #fff;
	align-items: center;
	-webkit-box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.23);
	-moz-box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.23);
	box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.23);
}
.tools-card a{
	padding: 20px;
	display: block;
	color: #2E4999;
	align-items: center;
}
.tools-card a:hover{
	text-decoration: none;
}
.tools-card p{
	font-size: 21px;
	margin: 0;
	padding: 0;
}
.tools-card .icon{
	width: 75px;
	height: 75px;
	margin-right: 20px;
	background: url("images/tool1.svg")center center no-repeat;
}
.tools-feed{
	justify-content: space-between;
}
/****************************************************** footer */

.footer{
	background-color:#2A3765; 
}
.footer{
	padding-top: 40px;
}
.footer .section{
	width: 25%;
}
.footer .section:nth-child(4){
	border-right: none;
}
.footer .menu .title{
	font-size: 16px;
	color: #fff;
}
.footer .menu a{
	font-size: 14px;
	color: #AFBAE0;
}
.footer .logos{
	align-items: flex-end;
}
.logos .top img{
	height: 40px;
	width: 40px;
	background-color: #EBECF0;
	margin-right: 10px;
}
.logos .top img:nth-child(4){
	margin-right: 0;
}
.logos .bottom{
	margin-top: 10px;
	width: 132px;
	height: 60px;
	background-color: #EBECF0;
}
.logos div{
	justify-content: flex-end;
}
.copyright{	
	background-color: #20294C;
	color: #fff;
	font-size: 12px;
	text-align: center;
	font-weight: 200;
}
.copyright p{
	margin-bottom: 0;
}
/****************************************************** responsive */
@media screen and (max-width: 950px){
	/* bday */
	.bday-card img{
		width: 100%;
	}
}

@media screen and (max-width: 800px){
	/* bday */
	.bday-card{
		width: 32%;
		margin-bottom: 10px;
	}

	/* tools */
	.tools-card{
		width: 49%;
		margin-bottom: 10px;
	}

	/* footer */
	.footer .section{
		width: 49%;
		margin-bottom: 20px;
	}
	.logos .bottom{
		margin-top: 0;
		margin-left: 10px;
	}
}
@media screen and (max-width: 756px){
	/* nav */
	.navbar-logo img{
		width: 150px;
	}
}

@media screen and (max-width: 717px){
	/* footer */
	.logos .bottom{
		margin-top: 10px;
		margin-left: 0;
	}
}
@media screen and (max-width: 650px){
	/* tools */
	.tools-card{
		width: 100%;
	}
}
@media screen and (max-width: 573px){
	/* nav */
	.nav-2 button{
		padding: 10px;
		font-size: 14px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.navbar-nav{
		margin-top: 20px;
	}
	.bday-card{
		width: 49%;
	}
	.nav-2{
		display: block !important;
		width: 100%;
	}
	.info{
		padding-right: 0;
		border-right: none;
	}
	.logout-2{
		display: block;
		background-color:  #202950 !important;
		font-size: 12px !important;
	}
	.logout-1{
		display: none;
	}
}
@media screen and (max-width: 400px){
	/* footer */
	.footer .section{
		width: 100%;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: solid 2px #222c56;
	}
	.footer .section:nth-child(4){
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.logos .bottom{
		margin-top: 0;
		margin-left: 10px;
	}
}
@media screen and (max-width: 350px){
	/* nav */
	.navbar-logo img{
		width: 150px;
	}
	.user-card img{
		display: none;
	}

	/* bday */
	.bday-card{
		width: 99%;
	}
	.bday-card img{
		width: 125px;
	}
	.bday .section-head .title,.bday .section-head .date{
		margin: 0;
	}
	.bday .section-head{
		display: block;
		margin-bottom: 20px;
	}

	/* news */
	.big-news .title{
		line-height: 40px;
		margin-bottom: 20px;
	}

	/* footer */
	.logos .bottom{
		margin-top: 10px;
		margin-left: 0;
	}
}
